/*--------------------PAGE STUDIO-------------------------*/





/* .list {
list-style: none;
} */

/* .link {
    text-decoration: none;
    color: inherit;
} */



/* ---------------------------HEADER---------------------- */



/* --------------------------HERO ---------------------------*/



/* --------------------------ПРЕИМУЩЕСТВА ---------------------------*/



/*--------------ЧЕМ МЫ ЗАНИМАЕМСЯ-----------------*/





/*--------------НАША КОМАНДА-----------------*/

/*------ПОСТОЯННЫЕ КЛИЕНТЫ-----------*/



/*--------------FOOTER-----------------*/


/*----------------------PAGE PORTFOLIO----------------*/




/*-----------------CARDS---------------- */


/* ------MODAL WINDOW--------- */

