:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --logo-text-color: #FFFFFF;
    --acent-color: #2196F3;
    --header-logo: #000000;
    --background-color: #2F303A;
    --border-card: #EEEEEE;
    --hero-color: #C4C4C4;
    --social-media: #AFB1B8;
    --social-media-button: #ffffff;
}
